body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddf3fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  max-width: 1080px;
  margin: 20px auto
}

.weather{
  display: flex;
  width: 300px;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 0px 20px 20px 20px
}

.top,
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city{
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weatherDescription{
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin:0;
}

.weatherIcon{
  width: 100px;
}

.temperature{
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -9px;
  margin: 10px 0;
}

.details{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.parameter-row{
  display: flex;
  justify-content: space-between;
}

.parameter-label{
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value{
  text-align: right;
  font-weight: 800;
  font-size: 12px;
}
.parameter-label-top{
  border-bottom: .01px dotted white;
  font-weight: 700;
  font-size: 12px;
}
